<div class="info">
    Posted on $date$
    $if(author)$
        by $author$
    $endif$
</div>

<div class="info">
    $if(tags)$
    Tags: $tags$
    $endif$
</div>

$body$

<center><pre>--------</pre></center>

<form class="subscribe" action="https://tinyletter.com/wc" method="post">
  <h5>
    I can send you a summary of my best content via
    <a target="_blank" href="https://tinyletter.com/wc">TinyLetter</a>,
    max one message per month.
  </h5>
  <br/>
  <input type="text" placeholder="Enter Your Email" name="email" id="tlemail"/>
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="Subscribe"/>
</form>
