<div class="info">
    Posted on $date$
    $if(author)$
        by $author$
    $endif$
</div>

<div class="info">
    $if(tags)$
    Tags: $tags$
    $endif$
</div>

$body$

<br/>
<center><pre>--------</pre></center>

<form class="subscribe" action="https://tinyletter.com/wc" method="post">
  <h5>
    If you want periodic updates on my content, I can send you them via
    <a target="_blank" href="https://tinyletter.com/wc">TinyLetter</a>
    every few months.
  </h5>
  <br/>
  <input type="text" placeholder="Enter Your Email" name="email" id="tlemail"/>
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="Okay"/>
</form>
